/* img{
    float:right;
    width: 40%;
    height: 1000px;
} */


*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section 
{
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}


.txt-lt {
    text-align: left;
}


.txt-center {
    text-align: center;
}


.float-rt {
    float: right;
}


.float-lt {
    float: left;
}


.clear {
    clear: both;
}



.pos-relative {
    position: relative;
}


.pos-absolute {
    position: absolute;
}


.vertical-base {
    vertical-align: baseline;
}


.vertical-top {
    vertical-align: top;
}


nav.vertical ul li {
    display: block;
}


nav.horizontal ul li {
    display: inline-block;
}


img {
    max-width: 100%;
}



body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

.main {
    background: url(/home/shubt/Desktop/PipHtml/pexels-felix-mittermeier-956981.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 100vh;
}


h1 {
    font-size: 3vw;
    color: #fff;
    text-align: center;
    padding: 3.5vw 1vw 1vw;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
}

s

.sub-main {
    margin: 1.5vw 16vw;
    margin: 5vw auto;
    max-width: 1067px;
}

.image-style {
    background: url(/home/shubt/Desktop/PipHtml/pexels-felix-mittermeier-956981.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 371px;
}


.vertical-tab {
    color: #333;
    display: block;
    margin: auto;
    position: relative;
    float: left;
   
}

.image-style {
    float: left;
    width: 25%;
}

.vertical-tab input[name="sections"] {
    left: -9999px;
    position: absolute;
    top: -9999px;
}

.vertical-tab .section {
    display: block;
}

.vertical-tab .section label {
    background: #fff;
    border-right: 1px solid #dcdcdc;
    cursor: pointer;
    display: block;
    font-size: 17px;
    padding: 33px 20px;
    position: relative;
    width: 189px;
    z-index: 100;
    color: #111;
    text-align: center;
}

.vertical-tab .section article {
    display: none;
    left: 230px;
    min-width: 570px;
    position: absolute;
    top: 0;
}

.vertical-tab input[name="sections"]:checked+label {
    background: #00ad45;
    border-right: 1px solid #000;
    color: #fff;
}

.vertical-tab input[name="sections"]:checked~article {
    display: block;
}

label.icon1 span {
    display: block;
    font-size: 30px;
    margin-bottom: 7.8px;
}


.sub-main form {
    background: #ffff;
    padding: 2em;
}

.legend {
    color: #000;
    font-size: 24px;
    text-align: center;
    margin-bottom: 1.2em;
    font-weight: 400;
}

p.para-style {
    margin-bottom: .8em;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 1.8;
}

p.para-style-2 {
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 1.8;
    margin-bottom: 2em;
}

p.para-style-2 a {
    color: blue;
}

.input {
    margin-bottom: 1em;
    padding: 13px 15px;
    border: 1px solid #eee;
    background: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.input span {
    font-size: 15px;
    color: #464646;
    margin-right: 10px;
}

.input input {
    color: #000;
    font-size: 14px;
    letter-spacing: 1px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
}

.submit {
    margin: 2.3em auto 0;
    background: #00ad45;
    border: none;
    cursor: pointer;
    font-weight: 600;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    display: block;
    color: #fff;
    padding: 14px 30px;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 15px;
    letter-spacing: 2px;
    width: 100%;
}

.submit:hover {
    opacity: .8;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

a.bottom-text {
    color: #757474;
    font-size: 14px;
    display: inherit;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 3.2em;
}

